security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            pattern: ^/(_profiler|_wdt|assets|build)/
            security: false
        login:
            pattern: ^/api/v1/auth/login$
            stateless: true
            security: false
        register:
            pattern: ^/api/v1/auth/register$
            stateless: true
            security: false
        verify_email:
            pattern: ^/api/v1/auth/verify-email$
            stateless: true
            security: false
        resend_verification:
            pattern: ^/api/v1/auth/resend-verification$
            stateless: true
            security: false
        api:
            pattern: ^/api/
            stateless: true
            provider: app_user_provider
            jwt: ~

    access_control:
        - { path: ^/api/v1/auth/login$, roles: PUBLIC_ACCESS }
        - { path: ^/api/v1/auth/register$, roles: PUBLIC_ACCESS }
        - { path: ^/api/v1/auth/verify-email$, roles: PUBLIC_ACCESS }
        - { path: ^/api/v1/auth/resend-verification$, roles: PUBLIC_ACCESS }
        - { path: ^/api/, roles: IS_AUTHENTICATED_FULLY }

when@test:
    security:
        password_hashers:
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4
                time_cost: 3
                memory_cost: 10
