
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> AI agents ###
CLAUDE.md
GEMINI.md
.continue/
.ai-agents/
.opencode/
###< AI agents ###
